/* line 3, ../../sass/main.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 7, ../../sass/main.scss */
body {
  width: 100%;
  height: 100%;
  background-color: #393639;
}

/* line 14, ../../sass/main.scss */
a {
  text-decoration: none;
  color: #FFD51E;
}

/* line 19, ../../sass/main.scss */
.cf:after {
  content: " ";
  /* 1 */
  display: block;
  clear: both;
}

/* line 25, ../../sass/main.scss */
.cf {
  zoom: 1;
}

/* line 29, ../../sass/main.scss */
img.img-responsive {
  height: auto;
  width: auto;
  display: block;
  max-height: 330px;
  max-width: 248px;
}

/* line 37, ../../sass/main.scss */
.well {
  background-color: #393639;
}

/* line 41, ../../sass/main.scss */
.modal-content {
  background-color: #393639;
  color: #FFD51E;
}

/* line 46, ../../sass/main.scss */
#search {
  display: none;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 51, ../../sass/main.scss */
#search form {
  float: right;
}

/* line 56, ../../sass/main.scss */
#nama-angkatan {
  border-bottom: solid 1px white;
}

/* line 59, ../../sass/main.scss */
.header-title {
  color: #FFD51E;
}
/* line 61, ../../sass/main.scss */
.header-title h1 {
  font-size: 30px;
  margin-left: 10px;
  margin: 0;
  padding: 20px;
}

/* line 69, ../../sass/main.scss */
.search-area {
  width: 20%;
  float: right;
  height: 40px;
}

/* line 74, ../../sass/main.scss */
.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 50px;
  color: #FFD51E;
  background-color: transparent;
}
/* line 81, ../../sass/main.scss */
.footer p {
  font-size: 16px;
  line-height: 50px;
}

/* line 87, ../../sass/main.scss */
.all-person-box {
  width: 100%;
  height: 100%;
}

/* line 92, ../../sass/main.scss */
.person-box {
  float: left;
  width: 25%;
  padding: 10px;
}
/* line 97, ../../sass/main.scss */
.person-box .identity {
  margin-top: 10px;
}
/* line 99, ../../sass/main.scss */
.person-box .identity p {
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}
