.container-fluid {
	min-height: 720px;
	/*width: 100%;*/
	/*height: 100%;*/
	/*left: 0;*/
	/*bottom: 0;*/
}
.footer {
	/*position: absolute;*/
	/*bottom: 0;*/
	width: 100%;
	padding: 10px;
	background-color: #DFDFDF;
}
a:link, a:visited {
	color: black;
}
a:hover {
	/*TODO: ganti warna link hover*/
	color: red;
}
input {
	padding: 10px;
}

@media (max-width:1280px) {
	.container-fluid {
		min-height: 720px;
	}
}

@media (max-width:1980px) {
	.container-fluid {
		min-height: 1080px;
	}
}